<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366069991252-os0n45c6e72msv34a7e6vhd3v8hjlg9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366069991252-os0n45c6e72msv34a7e6vhd3v8hjlg9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBYag96uaDODUgLnAObItd1aw1UUWVbi40</string>
	<key>GCM_SENDER_ID</key>
	<string>366069991252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lynq.app</string>
	<key>PROJECT_ID</key>
	<string>lynq-83ada</string>
	<key>STORAGE_BUCKET</key>
	<string>lynq-83ada.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366069991252:ios:deec3cdca51d3fe3982ac1</string>
</dict>
</plist>
