<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBj_-tu-NZ65Y6f8Kd_h0cqP2MUaWLJI-I</string>
	<key>GCM_SENDER_ID</key>
	<string>76197560511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jovloo.app</string>
	<key>PROJECT_ID</key>
	<string>intuere-1031e</string>
	<key>STORAGE_BUCKET</key>
	<string>intuere-1031e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76197560511:ios:e9d3a52c6b63f8e16f860a</string>
</dict>
</plist>